body{
	background: #3A64AE;
}
h2,h3{
	color: white;
	font-weight: bold;
	text-align: center;

}
.divImgLogo{
	width: 30%;
	margin: 0 auto;
	text-align: center;

}
.imgLogo{
	width: 40%;
	margin-top: 5%;
}
h2{
	margin-top: 10%;
	font-size: 3em;
}
h3{
	font-size: 2.5em;	
}